<h1>TTRPG References Page</h1>

    <p>
        <h2>Links</h2>
        <ul>
            <li><a href="/references/books">Books</a></li>
            <li><a href="/references/links">Links</a></li>
        </ul>
    </p>