@model ForumPost
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the TTRPG website!</h1>
    <p>Hello World! This is Katie's website. I'll talk about Table Top RPGs.</p>
    <p>
        <h2>Links</h2>
        <ul>
            <li><a href="/home/overview">Overview</a></li>
            <li><a href="/home/forum">Forum</a></li>
            <li><a href="/references/">References</a></li>
            <li><a href="/references/books">Books</a></li>
            <li><a href="/references/links">Links</a></li>
            <li><a href="/tools/">TTRPG Tools</a></li>
            <li><a href="/home/contact">Contact Us</a></li>
        </ul>
    </p>

    
    @if(@Model.body != null)
    {
        <p>
            <h2>Last forum post</h2>
            User: @Model.user<br />
            Date: @Model.date.ToShortDateString() <br />
            Head: @Model.head<br />
            Body: @Model.body<br />  
        </p>
    }
    
</div>
