@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Book reviews</h1>
    <p>Hello World! This is Katie's website. I'll talk about tea or books here, probably.</p>
    <p>
        <h2>Links</h2>
        <ul>
            <li><a href="/book/">Book lists</a></li>
            <li><a href="/book/reviews/">Review info</a></li>
        </ul>
    </p>
</div>
