
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the TTRPG website!</h1>
    <p>Hello World! This is Katie's website. I'll talk about Table Top RPGs.</p>
    
</div>
